<!doctype html>
<head>
	<title>Python Flask Multiple Files Upload Example</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
		crossorigin="anonymous">
</head>
<body>
	<!-- <div class="d-flex justify-content-center"> 
		<h2>Select file to upload</h2>
	</div>-->
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</p>
	<div class="container">
		<form method="post" action="/" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm">	
						<h2>Select file to upload</h2>
				</div>
			<div class="row">
				<div class="col-sm">
						<!--<input type="file" name="file" autocomplete="off" required>-->
						<!--<div class="mb-2">-->
						<!--<label for="formFile" class="form-label">Default file input example</label> id="formFile"-->
						<input class="form-control" type="file" name="file"  autocomplete="off" required>
				</div>
				<div class="col-sm">
						<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</div>
		</form>
	</div>
	{% if filename %}
		<div style="margin-top: 20px;">
			<!-- <img src='{{ filename }}' alt="hue hue hue"> -->
			<embed src="{{ filename }}" height="1080px" width="1920px"/>
			<!-- <embed src="{{ filename }}" width="800" height="600" /> -->
			<!-- <img src='/static/images/Digraph.gv.jpg' alt="hue hue hue2"> -->
		</div>
	{% endif %}
</body>
